@import "libs/lightgallery.min";
@import "libs/slick";
@import "libs/bootstrap-reboot.min";
@import "base/variables";
@import "base/mixins";
@import "base/fonts";

* {
  font-family: 'Raleway', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus,
button:active {
  outline: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@import "blocks/title-btn";

@import "blocks/header";
@import "blocks/head";
@import "blocks/services";
@import "blocks/perfect";
@import "blocks/testy";
@import "blocks/cakes";
@import "blocks/progress";
@import "blocks/gallery";
@import "blocks/review";
@import "blocks/blog";
@import "blocks/brand";
@import "blocks/footer";


@import "blocks/modal";



@import "base/media";